@use '../../styles/variables'as *;
@use '../../styles/mixins'as *;

.post-card-wrapper {
  min-height: 25px;
  width: 100%;
  display: flex;
}

.post-card {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: $content-max-width;
  border: 1px solid var(--post-card-border-color);
  border-radius: 6px;
  padding: 30px;
  margin-bottom: 15px;
  color: var(--primary-text-color);
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    background-color: var(--post-card-hover-color);
    .title {
      text-decoration: underline;
    }
  }

  @include md {
    margin-bottom: 0;
  }

  .emoji {
    flex: none; 
    font-size: 30px;
    background-color: rgba(144, 144, 161, 0.134);
    border-radius: 999px;
    width: 50px;
    height: 50px;
    display: flex;
    margin-right: 25px;
    justify-content: center;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .date {
    font-size: 15px;
    white-space: nowrap;
    
  }

  .title {
    overflow: hidden;
    max-width: 700px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
